.component {
  margin-bottom: 5px;
}
.header {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 3px;
  background: #1b3c44;
  color: #ffffff;
}
.content {
  overflow: scroll;
}
.toolStyle {
  margin-right: "2px";
  cursor: "pointer";
}