@import '../styles/_variables.scss';

.flexRow {
  padding: 0px;
  margin-right: -5px;
  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   bottom: -3px;
  //   height: 7px;
  //   cursor: ns-resize;
  // }
  &>div {
    margin-right: 5px;
  }
  // &>div:nth-last-of-type(1) {
  //   margin-right: 0px;
  // }
}