html, body{
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  list-style-type:none;
}

.wrapper{
  height: 80%;
  position: absolute;
  width: 100%;
  overflow: hidden;
  background: #1b3c44 !important;
}

.menuContainer{
  width: 20%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  background: #1b3c44;
}

.menuContainer li{
  cursor: move;
  border-bottom: 1px solid #000;
  border-top: 1px solid #333;
  cursor: pointer;
  padding: 10px 5px;
  color: #BBB;
  background: #1b3c44;
  font: 12px Arial, sans-serif;
}

.menuContainer li:hover{
  background: #1b3c44;
  color: #CCC;
}

.layoutContainer{
  width: 80%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 20%;
  box-shadow: -3px 0px 9px 0px rgba( 0, 0, 0, 0.4 );
}

body .lm_header{
  background: #1b3c44 !important;
}

.lm_item_container .highlight{
  background: #1b3c44!important;
}