.miniTabs {
  position: absolute;
  top: 0;
  right: 5px;
  height: 100%;
  width: 25px;
  display: flex;
  flex-direction: column;
}
.miniItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25px;
  height: 80px;
  writing-mode: vertical-rl;
  border: 1px solid #333;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}